* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: helvetica, sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #f5f5f5f8;
}

header nav {
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

header nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .container1 {
   
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

/*
header nav .logo {
    color: #fff;
    text-decoration: none;
}
*/

/*
.logo{
    background: url('../imagens/taibazar2.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 50px;
    position: relative;
    top: 8px;
    z-index: 9; 
}
*/

.logo {
    margin: 0 auto;
}

.logo img{
    height: 50px;
}

header nav .menu ul li {
    list-style-type: none;
}

header nav .rodape ul li a img{
    height: 30px;
    width: 30px;
}

header nav .telefone{
    color: #fff;
    margin-left: 35px;
}

header nav .email{
    color: #fff;
    margin-left: 35px;
}

header .hero {
    background-image: url('../imagens/pexels-marina-m-8356200.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .hero #formSearch input {
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

main {
    margin: 20px 0px;
}

main .container h3{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: serif;
    text-align: center;
}

main .container .roupas {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.roupa {
    background-color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.roupa:hover {
    background-color: #f5f5f5;
    transition: 0.3s ease;
}

.roupa img {
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.roupa h4 {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.roupa p {
    padding: 0px 20px;
    font-size: 1rem;
}

.roupa button {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.roupa button:hover {
    background-color: #dedede;
    color: #000;
    transition: 0.3s ease;
}

footer {
    padding: 10px 0px;
    background: #fff;
}

footer .container p {
    text-align: center;
    font-weight: bold;
}

.rodape {
    margin: 0 auto;
}

.telefone {
    margin: 0 auto;
}


.hero-sobre {
    height: 300px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-sobre .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .contato{
    background-color: #000;
    height: 100px;
}

@media (min-width: 600px) {
    main .container .roupas {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    main .container .roupas .roupa{
        width: 300px;
    }
}

/* Modal */
.modal {
    position: fixed;
    width: 70%;
    left: 15%;
    top: 20%;
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3)
}


/* Form Product */
.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.btn {
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.85;
}

.btn-success {
    background: #000;
    color: #fff;
}

.btn-danger {
    background: #000;
    color: #fff;
}

/* Utils */

.hide {
    display: none;
}


/* container */
.container {
    width: 90vw;
    margin: 0px auto;
}